.container{
    border: none !important;
    
}

.row {
    margin-right: 0px !important;
}
.img-product-container  {
  margin-top: 30px !important;
  background-color: white;
}

.img-product{
    width: 300px;
    height: 300px;
    margin-left: 34px;
    margin-bottom: 80px;
}
.img-product img{
  width: 100%;
}

.name-detail{
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
}

.price-detail{
    font-size: 30px;
    font-weight: 200;
    color: darkgray;
    margin-top: 15px;
}

.CartBtn {
    width: 140px;
    height: 40px;
    /* border-radius: 12px; */
    border: none;
    background-color: rgb(251,173,25);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
  }
  
  .IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .text-detail {
    height: 80%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
    padding-top: 16px;
  }
  
  .CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
  }
  
  .CartBtn:hover .text-detail {
    transform: translate(10px,0px);
    transition-duration: .5s;
  }
  
  .CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
  }

  .item-detail {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
  }

  .li-detail {
    list-style: none;
    background-color: rgb(248,249,250);
  }


  .container.btn-detail {
    display: flex;
    flex-direction: column;
  }
  
  .hidden-div {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
    margin: 20px 0;
  }
  
  .show {
    opacity: 1;
    height: auto;
  }

  /* css para los comentarios */

  .comment {
    border-bottom: 1px solid rgb(0, 0, 0);
    margin: 10px;
  }

  .avatar-comment {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline;
  }

  .avatar-comment img {
    object-fit: cover;
  }

  .user-comment-name {
    font-weight: bold;
    font-size: 20px;
    display: inline;
  }

  .user-comment-date {
    font-size: 15px;
    display: inline;
  }


  .thumbnail {
    width: 80px;
    height: 80px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    padding: 2px;
    
  }
  
  .thumbnail img {
    padding: 10px;
  }

  .thumbnail.active {
    border: 2px solid rgb(251,173,25);
  }

  
  .nav-tabs .nav-link {
    background: white;
    color: #000 !important;
    font-size: 0.75rem;
    padding: 0.75rem 1rem
}

.p-style{
  margin: 0px 10px 15px 10px;
  padding: 20px;
}

.comment{ 
  display: flex;
  align-items: flex-start;
}

.nav-btns {
  background-color: rgb(248,249,250) !important;
}

.tab-content {
  background-color: rgb(248,249,250) !important;
  display: block;
}

.text-area-form-control {
  width: 100% !important;
  height: 100px;
}

.btn-delete-post {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
}