

.ImageList {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.h1-Gallery {
    text-align: center;
    margin: 25px;
}

@media only screen and (max-width: 600px) {

    .ImageList {
        margin-top: -70px;
        
    }
    .contendor-gallery{
        width: 90% !important;
    }

    .card-photos{
        width: 120% !important;
      
    }

    .h1-Gallery{
        font-size: 25px !important;
    }
    

}

