
.create-product-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-create{
    width: 100%;
    margin: 0 auto;
}

.btn-create{
    width: 9.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    text-align: center;
    color: white;
    border: none;
    /* border-radius: 0.625em; */
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-create:hover {
    color: black;
    background-color: #FBAD19;
}

/* .h1-create-product {
    font-size: 2rem;
    margin-bottom: 2rem;
} */