a.nav-link {
    color: rgb(251,173,25)!important;
  }


.nav-link.active {
    color: white !important;
  }

  .btn-modal-link {
    border: none;
    background-color: white !important;
    color: black;
    font-weight: bolder;
  }