.editor-output {
  width: 85%;
  height: auto;
  margin: 0 auto;
}


.editor-output img {
  width: 50vw;
  height: auto;
}

.container {
  display: flex;
  border: 1px solid #ccc;
}

.col-md-4 {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 20px;
}

.col-md-4:last-child {
  border-right: none;
}

.editor-options {
  background-color:#f8f9fa;
  min-height: 100vh;
  width: 15%;
}

.editor-inputs {
  padding-left: 50px;
  padding-right: 30px;
}

.editor-inputs h5 {
  color: rgb(251, 173, 25);
  margin-bottom: 20px;
}

.btn-back-arrow {
  margin-top: 20px;
  margin-left: 20px;
  border: none;
  background-color: transparent;
}

.btn-back-arrow svg {
  color:rgb(251, 173, 25);
  width: 30px !important;
  height: auto;
  margin-bottom: 10px;
}

.imputs-btn {
  width: 100%;
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.imputs-btn:hover {

  background-color: rgb(251, 173, 25) !important;
  border: none;
  border-bottom: 1px solid rgb(251, 173, 25);
  text-align: left;
  font-size: 18px;
  transition: 0.5s;

}

.imputs-btn.active {

  background-color: rgb(251, 173, 25) !important;
  border: none;
  border-bottom: none;
  text-align: left;
  font-size: 18px;
  transition: 0.5s;

}

.editor-input, .editor-select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 10px;
}

.input-container {
  margin-bottom: 10px;
}

.editor-input::placeholder {
  color: rgb(134, 134, 134);
  font-size: 13px;
}

.editor-input:focus {
  outline: none;
}

.editor-select:focus {
  outline: none;
}

.editor-select option {
  background-color: #ececec; 
  color: #000000;
  border-radius: none !important;
}



.editor-select option:checked {
  background-color: rgb(251, 173, 25); 
}

.apply-edition-btn {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 5px;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.apply-edition-btn:hover {
  background-color: rgb(251, 173, 25);
  color: black;
}

.action-btn {
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(255, 255, 255)!important;
  padding: 10px;
}

.action-btn:hover {
  background-color: rgb(251, 173, 25);
  border: none;
  color: rgb(0, 0, 0)!important;
  padding: 10px;
}

.download-btn {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
}

.download-btn:hover {
  background-color: transparent;
  border: none;
  color: rgb(251, 173, 25);
}

.hide-on-desk {
  display: none;
}

.hide-on-mobile {
  display: block;
}

@media screen and (max-width: 768px) {

  .hide-on-mobile {
    display: none;
  }

  .hide-on-desk {
    display: block;
  }

  .editor-output img {
    width: 90vw;
    height: auto;
    margin-left: 12px ;
  }

  .ations-btns {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
  }
}
