.expanded-user-order-details h5 {
    text-align: left;
}

.col .col-lg-9 .col-xl-7 {
    width: 100%;
}

.tab-content{
    display: flex;
    width: 100% !important;
    
}

.order-name-btn-profile {
    background-color: black;
    color: rgb(251, 173, 25);
    border: none;
    font-size: 18px;
    padding: 7px;
}

.li-product-order{
    
    list-style: none;
    margin-top: 24px;
}

.check-order {
    margin-right: 7px;
}

.btn-outline-dark{
    border: none ;
    border-radius: 1% !important;
}

.img-preview{
    display: flex !important;
    justify-content: space-around;
    
}

.img-cont {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {

    .avatar-profile{
        margin-right: 55px !important;; 
        width: 150px !important;
        height: 150px !important;
    }

    .user-profile{
        padding-right: 49px;
    }

    .gallery-profile{
        padding-right: 49px;
    }

    .tab-content {
        display: block;
        width: 89% !important;
}



}