.cart-container {
    margin-top: 4rem;
    min-height: 84.5vh !important;
    margin-left: 100px;
    margin-right: 100px;
}

.btn-cart-total {
    display: flex;
    justify-content: space-around;
}

.btn-checkout {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background: black !important;
    color: white !important;
    display: flex !important;
    align-items: center !important;
    border: transparent !important;
}


.btn-checkout:hover{
    color: black !important;
    background-color: #FBAD19 !important;
}

.btn-checkout-D {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background: black !important;
    color: white !important;
    display: flex !important;
    align-items: center !important;
    border: transparent !important;
}

.btn-checkout-D:hover{
    color: white !important;
    background-color: red !important;
}

.btn-Delete {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background: red !important;
    color: white !important;
    display: flex !important;
    align-items: center !important;
    
}

.btn-Delete:hover{
    color: white !important;
    background-color: black !important;
}

.total-box{
    margin-top: 7px;
}

.sum{
    background-color: transparent;
    color: black; 
    border: none; 
    cursor: pointer;
}

.sum:hover{
    color: #FBAD19;
}

@media only screen and (max-width: 600px) {

    .tb-movil{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .head-cart{
        font-size: 13px;
    }


    .cart-container {
        margin-top: 4rem;
        min-height: 84.5vh !important;
        margin-left: 10px;
        margin-right: 10px;
    }

    .quantity-col {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;

    }
}
